---
Title: {{ title }}
Date: {{ today.strftime('%Y-%m-%d %H:%M')}}
Modified: {{ today.strftime('%Y-%m-%d %H:%M')}}
Category: {{ category}}
Tags: {{ tags|join(', ') }}
Slug: {{ slug }}
Authors: Lioman
Status: Draft
<!--Summary: a summary-->
---

content

