pelican==3.7.1
typogrify==2.0.7

# Plugins
pelican-youtube==0.2.0
pelican-vimeo==0.1.1
# pelican-series==1.0.0
pelican-comment-system==1.4.0
pelican-extended-sitemap==1.0.4

# additional packages
Pillow
bs4
