{% for article in articles %}
    /{{ article.slug }} /{{ article.url }} 301
    {% for translation in article.translations %}
    /{{ article.slug }}-{{translation.lang}} /{{ translation.lang }}/{{ article.url }} 301
    {% endfor %}
{% endfor %}
